In [50]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np

df = pd.read_csv("sa.csv")
print(df.head())

sizes = df['H'].value_counts(sort = 1)
print(sizes)

df.drop(['A'], axis=1, inplace=True)
df.drop(['B'], axis=1, inplace=True)
df.drop(['C'], axis=1, inplace=True)
df.drop(['D'], axis=1, inplace=True)
df.drop(['E'], axis=1, inplace=True)
df.drop(['F'], axis=1, inplace=True)
df.drop(['J'], axis=1, inplace=True)
df.drop(['R'], axis=1, inplace=True)
df.drop(['S'], axis=1, inplace=True)
df.drop(['T'], axis=1, inplace=True)
df.drop(['U'], axis=1, inplace=True)
df.drop(['V'], axis=1, inplace=True)
df.drop(['W'], axis=1, inplace=True)
df.drop(['X'], axis=1, inplace=True)

                                A                         B  \
0  2021/07/12 2:52:17 pm GMT+5:30  sachin.saxena@srms.ac.in
1  2021/07/12 3:02:01 pm GMT+5:30      mdnandeesh@msrit.edu
2  2021/07/12 3:03:08 pm GMT+5:30     renu.latika@gmail.com
3  2021/07/12 3:04:23 pm GMT+5:30    Er.divyasoni@gmail.com
4  2021/07/12 3:06:53 pm GMT+5:30       ashiskd11@gmail.com

                     C             D          E              F  \
0  SACHIN KUMAR SAXENA  918909603708   Bareilly  Uttar Pradesh
1             Nandeesh    9886525725  Bangalore      Karnataka
2             RENUGA G    9884850615    Chennai     Tamil Nadu
3                Divya    9716453822  New delhi      New delhi
4      Ashis Kumar Das    9434381119   Siliguri    West Bengal

                     G    H       I  \
0  in between 25 to 30  Yes    Male
1                 >=40   No    Male
2  in between 30 to 40  Yes  Female
3  in between 30 to 40  Yes  Female
4                 >=40  Yes    Male

                                                   J  ...   O   P   Q  \
0  systolic: less than 120 mm Hg and diastolic: l...  ...  No  No  No
1  systolic: 120–139 mm Hg and diastolic: 80–89 m...  ...  No  No  No
2  systolic: less than 120 mm Hg and diastolic: l...  ...  No  No  No
3  systolic: less than 120 mm Hg and diastolic: l...  ...  No  No  No
4  systolic: 120–139 mm Hg and diastolic: 80–89 m...  ...  No  No  No

                                                   R  \
0  In case of adult FEMALE (0.5 to 1.1 milligrams...
1                   Never gone through this lab test
2                   Never gone through this lab test
3                   Never gone through this lab test
4  In case adult MALE (0.6 to 1.2 milligrams (mg)...

                                  S                                 T  \
0  Never gone through this lab test  Never gone through this lab test
1  Never gone through this lab test  Never gone through this lab test
2  Never gone through this lab test  Never gone through this lab test
3                               NaN                               NaN
4  Never gone through this lab test  Never gone through this lab test

                                  U                                 V   W   X
0                               NaN                Not in above range NaN NaN
1  Never gone through this lab test  Never gone through this lab test NaN NaN
2  Never gone through this lab test  Never gone through this lab test NaN NaN
3                               NaN                               NaN NaN NaN
4  Never gone through this lab test  Never gone through this lab test NaN NaN

[5 rows x 24 columns]
No     23
Yes    11
Name: H, dtype: int64

In [18]:
print(df)

                      G    H       I               K    L    M    N    O    P  \
0   in between 25 to 30  Yes    Male  Never observed   No  Yes  Yes   No   No
1                  >=40   No    Male  Never observed   No   No   No   No   No
2   in between 30 to 40  Yes  Female              No   No   No   No   No   No
3   in between 30 to 40  Yes  Female              No   No   No   No   No   No
4                  >=40  Yes    Male              No   No   No   No   No   No
5   in between 30 to 40   No    Male              No  Yes   No   No   No   No
6   in between 30 to 40  Yes    Male              No   No   No   No   No   No
7            <=25 years   No    Male              No   No   No   No   No   No
8   in between 25 to 30   No  Female              No   No   No   No   No  Yes
9   in between 30 to 40  Yes  Female              No   No   No   No   No   No
10  in between 30 to 40   No    Male             Yes  Yes  Yes   No   No   No
11  in between 30 to 40   No  Female              No  Yes   No   No   No   No
12           <=25 years   No    Male              No   No   No   No   No   No
13  in between 30 to 40  Yes    Male              No   No   No   No   No   No
14           <=25 years   No    Male              No   No   No   No   No   No
15  in between 30 to 40   No    Male  Never observed   No   No   No   No   No
16                 >=40   No    Male              No   No   No   No   No   No
17  in between 25 to 30   No  Female              No   No   No   No  Yes   No
18  in between 30 to 40   No    Male              No   No   No   No   No   No
19  in between 30 to 40   No    Male              No  Yes   No   No  Yes   No
20           <=25 years   No    Male              No  Yes   No   No   No   No
21  in between 30 to 40   No  Female              No   No   No   No   No   No
22                 >=40  Yes  Female              No   No   No   No   No  Yes
23           <=25 years   No  Female  Never observed   No   No   No   No   No
24           <=25 years   No    Male              No   No   No   No   No   No
25           <=25 years   No    Male              No   No   No   No   No   No
26  in between 30 to 40   No  Female              No   No   No   No  Yes   No
27                 >=40   No  Female              No   No   No   No   No   No
28                 >=40  Yes  Female              No   No   No   No   No   No
29                 >=40  Yes  Female              No   No   No   No   No   No
30           <=25 years   No    Male              No   No   No   No   No   No
31           <=25 years   No    Male              No   No   No   No   No   No
32           <=25 years   No    Male              No   No   No   No   No   No
33  in between 25 to 30  Yes  Female              No   No   No   No   No   No

      Q
0    No
1    No
2    No
3    No
4    No
5    No
6    No
7    No
8    No
9    No
10   No
11   No
12   No
13   No
14   No
15   No
16  Yes
17   No
18   No
19   No
20   No
21   No
22   No
23   No
24   No
25   No
26   No
27   No
28  Yes
29   No
30   No
31  Yes
32   No
33   No

In [19]:
sizes = df['H'].value_counts(sort = 1)
print(sizes)

No     23
Yes    11
Name: H, dtype: int64

In [20]:
print(df)

                      G    H       I               K    L    M    N    O    P  \
0   in between 25 to 30  Yes    Male  Never observed   No  Yes  Yes   No   No
1                  >=40   No    Male  Never observed   No   No   No   No   No
2   in between 30 to 40  Yes  Female              No   No   No   No   No   No
3   in between 30 to 40  Yes  Female              No   No   No   No   No   No
4                  >=40  Yes    Male              No   No   No   No   No   No
5   in between 30 to 40   No    Male              No  Yes   No   No   No   No
6   in between 30 to 40  Yes    Male              No   No   No   No   No   No
7            <=25 years   No    Male              No   No   No   No   No   No
8   in between 25 to 30   No  Female              No   No   No   No   No  Yes
9   in between 30 to 40  Yes  Female              No   No   No   No   No   No
10  in between 30 to 40   No    Male             Yes  Yes  Yes   No   No   No
11  in between 30 to 40   No  Female              No  Yes   No   No   No   No
12           <=25 years   No    Male              No   No   No   No   No   No
13  in between 30 to 40  Yes    Male              No   No   No   No   No   No
14           <=25 years   No    Male              No   No   No   No   No   No
15  in between 30 to 40   No    Male  Never observed   No   No   No   No   No
16                 >=40   No    Male              No   No   No   No   No   No
17  in between 25 to 30   No  Female              No   No   No   No  Yes   No
18  in between 30 to 40   No    Male              No   No   No   No   No   No
19  in between 30 to 40   No    Male              No  Yes   No   No  Yes   No
20           <=25 years   No    Male              No  Yes   No   No   No   No
21  in between 30 to 40   No  Female              No   No   No   No   No   No
22                 >=40  Yes  Female              No   No   No   No   No  Yes
23           <=25 years   No  Female  Never observed   No   No   No   No   No
24           <=25 years   No    Male              No   No   No   No   No   No
25           <=25 years   No    Male              No   No   No   No   No   No
26  in between 30 to 40   No  Female              No   No   No   No  Yes   No
27                 >=40   No  Female              No   No   No   No   No   No
28                 >=40  Yes  Female              No   No   No   No   No   No
29                 >=40  Yes  Female              No   No   No   No   No   No
30           <=25 years   No    Male              No   No   No   No   No   No
31           <=25 years   No    Male              No   No   No   No   No   No
32           <=25 years   No    Male              No   No   No   No   No   No
33  in between 25 to 30  Yes  Female              No   No   No   No   No   No

      Q
0    No
1    No
2    No
3    No
4    No
5    No
6    No
7    No
8    No
9    No
10   No
11   No
12   No
13   No
14   No
15   No
16  Yes
17   No
18   No
19   No
20   No
21   No
22   No
23   No
24   No
25   No
26   No
27   No
28  Yes
29   No
30   No
31  Yes
32   No
33   No

In [27]:
df.H[df.H == 'Yes'] = 1
df.H[df.H == 'No'] = 2

df.G[df.G == 'in between 25 to 30'] = 1
df.G[df.G == '>=40'] = 2
df.G[df.G == 'in between 30 to 40'] = 3
df.G[df.G == '<=25 years'] = 4

df.I[df.I == 'Male'] = 1
df.I[df.I == 'Female'] = 2

df.K[df.K == 'Never observed'] = 1
df.K[df.K == 'Yes'] = 2
df.K[df.K == 'No'] = 3

df.L[df.L == 'Yes'] = 1
df.L[df.L == 'No'] = 2

df.M[df.M == 'Yes'] = 1
df.M[df.M == 'No'] = 2

df.N[df.N == 'Yes'] = 1
df.N[df.N == 'No'] = 2

df.O[df.O == 'Yes'] = 1
df.O[df.O == 'No'] = 2

df.P[df.P == 'Yes'] = 1
df.P[df.P == 'No'] = 2

df.Q[df.Q == 'Yes'] = 1
df.Q[df.Q == 'No'] = 2

print(df.head())

   G  H  I  K  L  M  N  O  P  Q
0  1  1  1  1  2  1  1  2  2  2
1  2  2  1  1  2  2  2  2  2  2
2  3  1  2  3  2  2  2  2  2  2
3  3  1  2  3  2  2  2  2  2  2
4  2  1  1  3  2  2  2  2  2  2

In [29]:
Y = df["H"].values  #At this point Y is an object not of type int
#Convert Y to int
Y=Y.astype('int')

In [30]:
X = df.drop(labels = ["H"], axis=1)

In [43]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.4, random_state=20)

In [44]:
print(X_train)

    G  I  K  L  M  N  O  P  Q
5   3  1  3  1  2  2  2  2  2
30  4  1  3  2  2  2  2  2  2
27  2  2  3  2  2  2  2  2  2
18  3  1  3  2  2  2  2  2  2
6   3  1  3  2  2  2  2  2  2
16  2  1  3  2  2  2  2  2  1
19  3  1  3  1  2  2  1  2  2
8   1  2  3  2  2  2  2  1  2
0   1  1  1  2  1  1  2  2  2
2   3  2  3  2  2  2  2  2  2
7   4  1  3  2  2  2  2  2  2
22  2  2  3  2  2  2  2  1  2
11  3  2  3  1  2  2  2  2  2
20  4  1  3  1  2  2  2  2  2
9   3  2  3  2  2  2  2  2  2
33  1  2  3  2  2  2  2  2  2
28  2  2  3  2  2  2  2  2  1
31  4  1  3  2  2  2  2  2  1
15  3  1  1  2  2  2  2  2  2
26  3  2  3  2  2  2  1  2  2

In [45]:
print(X_test)

    G  I  K  L  M  N  O  P  Q
4   2  1  3  2  2  2  2  2  2
25  4  1  3  2  2  2  2  2  2
13  3  1  3  2  2  2  2  2  2
1   2  1  1  2  2  2  2  2  2
10  3  1  2  1  1  2  2  2  2
12  4  1  3  2  2  2  2  2  2
21  3  2  3  2  2  2  2  2  2
29  2  2  3  2  2  2  2  2  2
3   3  2  3  2  2  2  2  2  2
32  4  1  3  2  2  2  2  2  2
17  1  2  3  2  2  2  1  2  2
23  4  2  1  2  2  2  2  2  2
14  4  1  3  2  2  2  2  2  2
24  4  1  3  2  2  2  2  2  2

In [46]:
from sklearn.ensemble import RandomForestClassifier

In [48]:
model = RandomForestClassifier(n_estimators = 10, random_state = 30)
# Train the model on training data
model.fit(X_train, y_train)

RandomForestClassifier(n_estimators=10, random_state=30)

In [49]:
prediction_test = model.predict(X_test)
#print(y_test, prediction_test)

from sklearn import metrics
#Print the prediction accuracy
print ("Accuracy = ", metrics.accuracy_score(y_test, prediction_test))
#Test accuracy for various test sizes and see how it gets better with more training data

#One amazing feature of Random forest is that it provides us info on feature importances
# Get numerical feature importances
#importances = list(model.feature_importances_)

#Let us print them into a nice format.

feature_list = list(X.columns)
feature_imp = pd.Series(model.feature_importances_,index=feature_list).sort_values(ascending=False)
print(feature_imp)

Accuracy =  0.6428571428571429
G    0.269957
I    0.167148
L    0.165892
O    0.096979
P    0.088467
N    0.087037
Q    0.058513
M    0.042136
K    0.023870
dtype: float64