In [ ]:
import sqlite3 as s
import pandas as pd

In [ ]:
from google.colab import files
file = files.upload()

Saving database.sqlite to database.sqlite

In [ ]:
conn = s.connect('database.sqlite')


print("table created successfully");

table created successfully

In [ ]:
table1 = pd.read_sql('''SELECT * FROM sqlite_master;''', conn)
print(table1)

     type  ...                                                sql
0   table  ...  CREATE TABLE [Player] (\n\t[Player_Id]\tintege...
1   table  ...  CREATE TABLE [Extra_Runs] (\n\t[Match_Id]\tint...
2   index  ...                                               None
3   table  ...  CREATE TABLE [Batsman_Scored] (\n\t[Match_Id]\...
4   index  ...                                               None
5   table  ...  CREATE TABLE [Batting_Style] (\n\t[Batting_Id]...
6   table  ...  CREATE TABLE [Bowling_Style] (\n\t[Bowling_Id]...
7   table  ...  CREATE TABLE [Country] (\n\t[Country_Id]\tinte...
8   table  ...  CREATE TABLE [Season] (\n\t[Season_Id]\tintege...
9   table  ...  CREATE TABLE [City] (\n\t[City_Id]\tinteger NO...
10  table  ...  CREATE TABLE [Outcome] (\n\t[Outcome_Id]\tinte...
11  table  ...  CREATE TABLE [Win_By] (\n\t[Win_Id]\tinteger N...
12  table  ...  CREATE TABLE [Wicket_Taken] (\n\t[Match_Id]\ti...
13  index  ...                                               None
14  table  ...  CREATE TABLE [Venue] (\n\t[Venue_Id]\tinteger ...
15  table  ...  CREATE TABLE [Extra_Type] (\n\t[Extra_Id]\tint...
16  table  ...  CREATE TABLE [Out_Type] (\n\t[Out_Id]\tinteger...
17  table  ...  CREATE TABLE [Toss_Decision] (\n\t[Toss_Id]\ti...
18  table  ...  CREATE TABLE [Umpire] (\n\t[Umpire_Id]\tintege...
19  table  ...  CREATE TABLE [Team] (\n\t[Team_Id]\tinteger NO...
20  table  ...  CREATE TABLE [Ball_by_Ball] (\n\t[Match_Id]\ti...
21  index  ...                                               None
22  table  ...  CREATE TABLE [sysdiagrams] (\n\t[name]\tnvarch...
23  table  ...             CREATE TABLE sqlite_sequence(name,seq)
24  index  ...  CREATE UNIQUE INDEX [sysdiagrams_UK_principal_...
25  table  ...  CREATE TABLE [Match] (\n\t[Match_Id]\tinteger ...
26  table  ...  CREATE TABLE [Rolee] (\n\t[Role_Id]\tinteger N...
27  table  ...  CREATE TABLE [Player_Match] (\n\t[Match_Id]\ti...
28  index  ...                                               None

[29 rows x 5 columns]

In [ ]:
P=pd.read_sql('''SELECT * FROM City;''', conn)
print(P)

    City_Id       City_Name  Country_id
0         1       Bangalore           1
1         2      Chandigarh           1
2         3           Delhi           1
3         4          Mumbai           1
4         5         Kolkata           1
5         6          Jaipur           1
6         7       Hyderabad           1
7         8         Chennai           1
8         9       Cape Town           2
9        10  Port Elizabeth           2
10       11          Durban           2
11       12       Centurion           2
12       13     East London           2
13       14    Johannesburg           2
14       15       Kimberley           2
15       16    Bloemfontein           2
16       17       Ahmedabad           1
17       18         Cuttack           1
18       19          Nagpur           1
19       20      Dharamsala           1
20       21           Kochi           1
21       22          Indore           1
22       23   Visakhapatnam           1
23       24            Pune           1
24       25          Raipur           1
25       26          Ranchi           1
26       27       Abu Dhabi           3
27       28          Rajkot           1
28       29          Kanpur           1

In [ ]:
print(P.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City_Id     29 non-null     int64
 1   City_Name   29 non-null     object
 2   Country_id  29 non-null     int64
dtypes: int64(2), object(1)
memory usage: 824.0+ bytes
None

In [ ]:
t=pd.read_sql('''SELECT * FROM MATCH WHERE MATCH_WINNER ==1;''', conn)
print(t)

    Match_Id  Team_1  Team_2  ... Outcome_type  Match_Winner  Man_of_the_Match
0     335987       2       1  ...            1             1                 2
1     335991       1       8  ...            1             1                 4
2     336015       1       2  ...            1             1                 1
3     336019       8       1  ...            1             1                 1
4     336022       1       6  ...            1             1               144
..       ...     ...     ...  ...          ...           ...               ...
63    980944      12       1  ...            1             1               308
64    980964       2       1  ...            1             1               334
65    980968       1       4  ...            1             1               334
66    980994       1      12  ...            1             1                31
67    981014       1      11  ...            1             1                31

[68 rows x 13 columns]

In [ ]:
t=pd.read_sql('''SELECT Outcome_type,Match_Id FROM MATCH WHERE MATCH_WINNER ==1;''', conn)
print(t)

    Outcome_type  Match_Id
0              1    335987
1              1    335991
2              1    336015
3              1    336019
4              1    336022
..           ...       ...
63             1    980944
64             1    980964
65             1    980968
66             1    980994
67             1    981014

[68 rows x 2 columns]

In [ ]:
t=pd.read_sql('''SELECT Outcome_type,Match_Id,MATCH_WINNER,Match_Id FROM MATCH WHERE MATCH_WINNER ==1 AND Match_Id>980944;''', conn)
print(t)

   Outcome_type  Match_Id  Match_Winner  Match_Id
0             1    980964             1    980964
1             1    980968             1    980968
2             1    980994             1    980994
3             1    981014             1    981014

In [ ]:
t=pd.read_sql('''SELECT * FROM MATCH WHERE MATCH_WINNER==(SELECT MIN(City_Id) FROM City);''', conn)
print(t)

   AVG(Match_Id)
0  590963.580139

In [ ]:
t=pd.read_sql('''SELECT * FROM MATCH WHERE MATCH_WINNER==(SELECT MIN(City_Id) FROM City);''', conn)
print(t)

    Match_Id  Team_1  Team_2  ... Outcome_type  Match_Winner  Man_of_the_Match
0     335987       2       1  ...            1             1                 2
1     335991       1       8  ...            1             1                 4
2     336015       1       2  ...            1             1                 1
3     336019       8       1  ...            1             1                 1
4     336022       1       6  ...            1             1               144
..       ...     ...     ...  ...          ...           ...               ...
63    980944      12       1  ...            1             1               308
64    980964       2       1  ...            1             1               334
65    980968       1       4  ...            1             1               334
66    980994       1      12  ...            1             1                31
67    981014       1      11  ...            1             1                31

[68 rows x 13 columns]

In [ ]:
t=pd.read_sql('''SELECT MIN(City_Id) FROM City;''', conn)
print(t)

   MIN(City_Id)
0             1

In [ ]:
t=pd.read_sql('''SELECT * FROM Season WHERE Orange_Cap>46;''', conn)
print(t)

   Season_Id  Man_of_the_Series  Orange_Cap  Purple_Cap  Season_Year
0          1                 32         100         102         2008
1          3                133         133         131         2010
2          4                162         162         194         2011
3          5                315         162         190         2012
4          8                334         187          71         2015