In [1]:
import pandas as pd

In [2]:
#dataframe and series
pd.DataFrame({'Yes':[50,26],'No':[10,87]})

   Yes  No
0   50  10
1   26  87

In [3]:
pd.DataFrame({'Bob':['I liked it','I hate it'],'Sue':['Loved it','Hate it']})

          Bob       Sue
0  I liked it  Loved it
1   I hate it   Hate it

In [4]:
pd.Series([1,3,5,7,9])

0    1
1    3
2    5
3    7
4    9
dtype: int64

In [8]:
s=pd.Series([30,45,55],index=['2015 sales','2018 Sales','2020 sales'], name='Product name A')

In [9]:
s

2015 sales    30
2018 Sales    45
2020 sales    55
Name: Product name A, dtype: int64

In [10]:
s.to_csv("Sales of the year")

In [11]:
k=pd.DataFrame({'Yes':[50,26],'No':[10,87]})
median_points=k.Yes.median()

In [13]:
median_points

38.0

In [14]:
k

   Yes  No
0   50  10
1   26  87

In [16]:
k=pd.DataFrame({'Yes':[50,26],'No':[10,87]})
unique=k.Yes.unique()

In [17]:
unique

array([50, 26], dtype=int64)

In [18]:
centerd_value=k.Yes-k.Yes.mean()

In [19]:
centerd_value

0    12.0
1   -12.0
Name: Yes, dtype: float64

In [20]:
l=pd.DataFrame({'Yes':[50,26,45,88],'No':[10,87,10,77]})

In [21]:
l

   Yes  No
0   50  10
1   26  87
2   45  10
3   88  77

In [22]:
best_value=l.groupby('Yes')['No'].max().sort_index()

In [23]:
best_value

Yes
26    87
45    10
50    10
88    77
Name: No, dtype: int64